:root {
  /* Variable name for shades of blue used, from light to dark */
  --blue-d4: #D4E6FE;
  --blue-a7: #A7CEFD;
  --blue-93: #93BAE8;
  --blue-80: #80A7D4;
  --blue-6c: #6C94C0;
  --blue-59: #5981AC;
  --blue-46: #466F99;
}

/* Default font */

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;

  scroll-behavior: smooth;
}

/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* END OF CSS RESET */

/* Thing I'm tired of implementing again and again */

button {
  border: none;
  color: white;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}


/* Temporary Stuff */

body {
  background: var(--blue-d4);

}