:root {
    --dark-gray: #282828;
    --gray: #A7ADAF;
}

footer {
    background-color: var(--dark-gray);
}

.footer-link-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-inline: 10%;
    padding-block: 40px;
}

.footer-link-container div{
    flex: 1;
}

.footer-link-container p {
    color: white;
    margin-bottom: 1em;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    color: var(--gray);
}

footer .icon-with-text {
    display: flex;
    align-items: center;
}

footer img {
    display: inline !important;
    height: 18px;
    margin-right: 1em;
}

address li:first-child {
    margin-bottom: 1em;
}

@media only screen and (max-width: 760px) {
    .footer-link-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10%;
    }
}
