.form-group{
   display: flex;
   flex-direction: column;
   margin-block: 1em;
}

.form-group label{
    color: #695C5C;
}

.login-options {
    display: flex;
    justify-content:space-between;
    margin-bottom: 1em;
}

.checkbox input[type="checkbox"]{
    margin-right: 0.5em;
}

.forgot-password a {
    color: #E86969;
}

main button{
    background-color: var(--blue-59);
    padding-block: 0.5em;
    width: 100%;
    margin-bottom: 1em;
}

.social-login button {
    background-color: #1877F2;
}