header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 5px;
    margin-inline: 3%;
}

.logo {
    display: flex;
    align-items: center;
    line-height: 1em;
}

.icon {
    height: 64px;
    margin-right: 1em;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    column-gap: 30px;
}

li {
    flex: 1;
    font-size: 15px;
    white-space: nowrap;
}

.get-started-button {
    background-color: var(--blue-59);
    border: none;
    color: white;
    padding-block: 10px;
    padding-inline: 10px;    
}

.hamburger-menu {
    display: none;
    visibility: hidden;
}

@media only screen and (max-width: 700px) {
    header {
        justify-content: space-between;
    }
    
    ul {
        display: none;
    }

    button {
        display: none;
    }

    .hamburger-menu {
        height: 32px;   
        display: block;
        visibility: visible;
        border: none;
        background: none;
    }

    .hamburger-menu img {
        height: 32px;
        color: var(--blue-59);
    }
  }