header {
    position: sticky;
    z-index:1000;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 5px;
    margin-inline: 3%;
}

.logo {
    display: flex;
    align-items: center;
    line-height: 1em;
    filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.2));
    cursor: pointer;
}

.icon {
    height: 64px;
    margin-right: 1em;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    column-gap: 30px;
}

nav ul li {
    flex: 1;
    font-size: 15px;
    white-space: nowrap;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.2));
    cursor: pointer;
    display: inline-block;
    position: relative;
}

nav > ul > li:not(:last-child)::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

nav > ul > li:not(:last-child):hover::after {
    transform: scaleX(1);
}

.get-started-button {
    background-color: var(--blue-59);
    padding-block: 10px;
    padding-inline: 10px;    
}

.sign-out-button {
    background-color: #E86969;
    padding-block: 10px;
    padding-inline: 10px;  
}

.hamburger-menu {
    display: none;
    visibility: hidden;
    filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.2));
}

@media only screen and (max-width: 730px) {
    header {
        justify-content: space-between;
    }
    
    .hamburger-menu {
        height: 32px;   
        display: block;
        visibility: visible;
        border: none;
        background: none;
    }

    .hamburger-menu img {
        height: 32px;
        color: var(--blue-59);
    }

    .nav-menu {
        position: fixed;
        top: 0;
        right: -100%; /* Initially hidden outside the screen */
        width: 250px; /* Width of the menu */
        height: 100vh;
        background-color: rgba(167, 206, 253, 0.6);
        box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.3);
        transition: right 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-menu ul {
        flex-direction: column; /* Stack items vertically */
        list-style: none;
        text-align: center;
        padding: 0;
    }

    .nav-menu.open {
        right: 0; /* Bring the menu into view when open */
    }

    .nav-menu ul li{
        margin: 20px 0;
        font-size: 18px;
    }
  }